# Backend
coverage-platform/repos/*
coverage-platform/.pids/*
coverage-platform/target/*

# Frontend
coverage-fe/node_modules/
coverage-fe/build/
coverage-fe/.env.local
coverage-fe/.env.development.local
coverage-fe/.env.test.local
coverage-fe/.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

